@keyframes slideFilter {
  0% {
    transform: translateX(282px);
  }
  100% {
    transform: translateX(0px);
  }
}

.box {
  &-info {
    width: 100%;
    & &-header {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      padding: 10px 20px;
    }
    & &-title {
      font-size: 1.2rem;
      color: inherit
    }
    & &-close {
      position: absolute;
      right: 0;
      margin-right: 10px;
      width: 25px;
      height: calc(100% - 15px);
      background: var(--color-black-1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      cursor: pointer;
    }
    & &-body{
      width: 100%;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
    &.red {
      & .box-info {
        &-header {
          background: #F00;
          color: #FFF;
        }
        &-body {
          background: rgb(255, 115, 115);
          color: #FFF;
        }
      }
    }
    &.green {
      & .box-info {
        &-header {
          background: rgb(72, 165, 0);
          color: #FFF;
        }
        &-body {
          background: rgb(149, 255, 154);
          color: var(--color-black-1);
        }
      }
    }
    &.yellow {
      & .box-info {
        &-header {
          background: rgb(205, 165, 20);
          color: #FFF;
        }
        &-body {
          background: rgb(237, 255, 138);
          color: var(--color-black-1);
        }
      }
    }
  }
  &-checkin {
    width: 400px;
    min-height: 50px;
    padding: 30px 30px;
    border-radius: 15px;
    background: var(--color-black-1);
  }
  &-contact {
    width: 100%;
    position: relative;
    overflow: hidden;
    & &-header {
      width: 100%;
      background-color: var(--color-black-1);
      padding: 14px 15px;
    }
    & &-body {
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--color-black-1);
      height: 300px;
      display: flex;
      flex-wrap: nowrap;
      & .contact-body {
        $body-left-width: 280px;
        &-left {
          width: $body-left-width;
          padding: 10px 20px;
          @extend .bg-black-1;
        }
        &-right {
          width: calc(100% - #{$body-left-width});
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          padding: 10px 15px;
        }
      }
      & .contact-info {
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        align-items: center;
        &-no {
          font-weight: bold;
          margin-right: 10px;
          &::before {
            content: attr(order) ". ";
            margin-right: 10px;
            color: var(--color-red-1);
          }
        }
        &-name {
          margin-right: 10px;
        }
        &-status {
          outline: none;
          border: none;
          padding: 3px 8px;
          font-size: 1rem;
          line-height: 1rem;
          color: var(--color-white);
          &.success {
            background:rgb(72, 165, 0);
          }
          &.failed {
            background:var(--color-red-1);
          }
          &.progress {
            background:var(--color-black-1);
          }
        }
      }
    }
    & &-filters {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 280px;
      background: var(--color-black-1);
      z-index: 10;
      &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 15px 25px;
        color: var(--color-white);
      }
      & button.filters-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        margin-top: 10px;
        margin-right: 20px;
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
        font-size: 2rem;
        color: var(--color-red-1);
      }
      &.show {
        display: inline-block;
        animation-name: slideFilter;
        animation-duration: 0.4s;
      }
    }
  }
  &-variasi {
    width: 300px;
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;
    }
    & &-header {
      padding: 10px 15px;
      background: var(--color-black-1);
      border: 1px solid var(--color-black-1);
      color: var(--color-white);
      font-size: 1.2rem;
    }
    & &-body {
      padding: 15px 15px;
      border: 1px solid var(--color-black-1);
      background: var(--color-black-2);
    }
  }
}

.list-variasi {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}